body
{
	overflow-x: hidden;
}

.list-group-item {
	margin: 5px;
}

.list-group-item-heading {
	margin-top: 5px;
}

.footer
{
	padding-top: 0px;
}

.share-btn
{
	padding: 15px;
	font-size: 21px;
	margin: 15px;
}

.fb-btn 
{
	background: #3b5998;	
}

.twitter-btn 
{
	background: #00aced;
}

