body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  margin-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
} 

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.playbutton {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;  
  font-size: 21px;
}

.marketing {
  margin: 15px 0;
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }

  .questiontext {
    font-size: 18px;  
  }
}

.cover
{
    margin-bottom: 0px;
    background-image: url(../images/worldcup-2015-Team-India.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white; 
    height: 260px;  
}

.covertext
{
    color: #ffffff;    
    font-weight:900;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;

}

.badge
{
  background-color:#428bca;
  margin:5px;
}

.badgebox
{
  display:inline;
}

.messagebox
{
  margin-top:30px;
}

.wronganswer
{
  background-color: #ecc;
  color: #444;
}

.questionbox
{
  background-color: #55a;
  color: #fff;
}

.questiontext
{
  font-weight: 200;
  line-height: 1.4;
}

.questionpic
{
  margin-bottom: 10px;
}