<div class="jumbotron">
  <h2>Are you really happy ?</h2>
  <p class="lead">
    <br><img src="images/happiness.png" alt="Are you really happy ?" height=180><br><br>
  </p>
  <p><a class="btn btn-primary" ng-href="#/question">Take the test... <span class="glyphicon glyphicon-pencil"></span></a></p>
</div>
<div class="row marketing">
  <h4>Happiness Quotient</h4>
  <p>
    All we seek is Happiness. Yet sometimes we are confused, are we really happy ? Take this little test to know your Happiness Quotient for the moment!
  </p>  
</div>
