<div class="row">
	<div class="col-xs-12 col-md-7">		
		<div class="well questionbox">
			<img src={{questions[current].image}} width=100% ng-show = "questions[current].image" class="questionpic">
			<!-- Question: {{current+1}} -->
			<span class="questiontext">{{questions[current].question}}</span>				
		</div>
		<div>
			<div class="list-group" ng-repeat="option in questions[current].options">						
				<a ng-href={{path}} class="list-group-item list-group-item-info" ng-click="recordUserInput($index)">
					<h4 class="list-group-item-heading">{{option.text}}</h4>
				</a>
			</div>
		</div>		
	</div>
	<div class="col-xs-12 col-md-5">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- question -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-7864311627791283"
		     data-ad-slot="2461942906"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>		  		
  	</div>	
</div>

