<div class="row">
	<div class="col-xs-12 col-md-7">		
		<div class="well questionbox">
			<img src={{questions[current].image}} width=100% ng-show = "questions[current].image" class="questionpic">
			<!-- Question: {{current+1}} -->
			<span class="questiontext">{{questions[current].question}}</span>				
		</div>
		<div>
			<div class="list-group" ng-repeat="option in questions[current].options">						
				<a ng-href={{path}} class="list-group-item list-group-item-info" ng-click="recordUserInput($index)">
					<h4 class="list-group-item-heading">{{option.text}}</h4>
				</a>
			</div>
		</div>		
	</div>
	<div class="col-xs-12 col-md-5" >		
  	</div>	
</div>

